<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Local IFrame Projectile</Title>
			<Shortcut>Projlocal</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp">
				<![CDATA[Projectile.usesLocalNPCImmunity = true;
				Projectile.localNPCHitCooldown = 20;$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>